@media (max-width: 768px) {
  header ul li {
    display: none;
  }
  header i {
    color: white;
  }
  .stayImages img {
    width: 100%;
    height: 10%;
  }
  .stays > div p {
    font-size: 22px;
  }
  .stayImages {
    display: flex;
    flex-direction: column;
  }
  .followers {
    flex-wrap: wrap;
  }
  .dreamTours {
    padding: 20% 8% 10% 8%;
    display: flex;
    flex-wrap: wrap;
  }

  .travel {
    flex-direction: column-reverse;
  }
  .travel p {
    font-size: 20px;
  }
  .tourFlex {
    flex-wrap: wrap;
  }
  .heart p {
    max-height: 40px;
  }
  .heart i {
    font-size: 30px;
    margin-top: 0px;
    margin-left: 460px;
  }
  .pra1 {
    flex-direction: column;
  }

  .destinationFlex {
    flex-direction: column;
  }
  destination-right {
    transform: translateX(0px) !important;
    margin-top: 30px;
  }
  .footer {
    flex-direction: column;
  }
  .footer .subscribe {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
  }
  .footer .iconFlex {
    display: flex;
    gap: 20px;
    font-size: 25px;
  }
  .footer h5 {
    font-size: 18px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .introContent h1 {
    font-size: 100px;
  }
  .introContent p {
    font-size: 40px;
  }
  .introContent button {
    font-size: 30px;
    padding: 27px 39px;
  }
  .followers {
    flex-wrap: wrap;
    justify-content: center;
  }
  .dreamTours {
    padding: 19% 6% 6% 6%;
    gap: 60px;
  }
  .stays {
    padding: 6% 6% 0% 6%;
  }
  .stays h1 {
    font-size: 40px;
  }
  .stayImages {
    display: flex;
    flex-direction: row;
  }
  .stayImages h2 {
    font-size: 25px;
  }
  .stays p {
    font-size: 16px;
  }

  .tourFlex {
    flex-wrap: wrap;
  }
  .heart i {
    color: black;
    margin-top: 0px;
    margin-left: 860px;
    background-color: white;
    border-radius: 50%;
    padding: 10px 9px 9px 9px;
  }
  /* .pra1 {
    flex-direction: column;
  }   */

  .footer .subscribe {
    display: flex;
    justify-content: space-between;
    margin-right: 0px;
  }
}
